# IDE folders
.idea/

# exclude IntelliJ .iml file
*.iml

# Build output
/target/
**/target/
out/
out/**

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
mvn-debug.log

# Notes or personal files (optional)
.notes/

# OS
.DS_Store
Thumbs.db